/* #FF6900 */


body{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}
.topbar{
  padding-top:30px;
  padding-bottom:30px;
  /*background-color: #D2B07B;*/
  background:#D2B07B url('../images/header-bg.jpg') no-repeat center top;
  background-size: cover;
}
h1{
  color:#fff;
  font-size:60px;
  font-weight: 500;
  text-align:right;
  margin:0;
  padding:0;
}
.orange-bar{
  background-color: #FF6900;

  padding-top:30px;
  padding-bottom:30px;
}
.orange-bar h2{
  color:#fff;
  text-transform: uppercase;
  margin:0;
  padding:0;
}

#show-data{
  padding-top:80px;
  background-color: #f2f2f2;
  overflow: auto;
}
.product{
  padding-bottom:30px;
  background-color:transparent;
}
.product > a > div{
  border:1px solid #ddd;
  /*height:200px;*/
  position: relative;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.1);
  transition: all .125s ease-in-out;
}
.product > a:hover > div{
  box-shadow: 2px 2px 7px 0 rgba(0,0,0,0.2);
}
.product > a:hover .product-info{
  background-color: rgba(255,255,255,0.7);

}
.product img{
  width:100%;
}

.redBox{
  background-color:red;
  color:#fff;
  display:inline-block;
  padding:10px 15px;
  font-size:20px;
  position:absolute;
  top:10px;
  left:10px;
}
.product-info{
  position: absolute;
  bottom:0;
  background-color: rgba(255,255,255,0.6);
  display:block;
  width:100%;
  padding:15px;
  transition: all .125s ease-in-out;
}
.product h2{
  color:#111;
  margin-top:0;
  padding-top:0;
  font-size:25px;
}
.price{
  text-decoration: line-through;
  display:block;
  color:#111;
  width:50%;
  float:left;
  text-align:right;
}
.salePrice{
  color:red;
  display:block;
  width:50%;
  float:left;
  font-size:20px;
}
.next-bar{
  text-align: center;

  background-color: #FF6900;

}
.next{
  color:#fff;
  text-transform: uppercase;
  font-size:18px;
  display:block;
  transition: color .125s ease-in-out;
  padding-top:20px;
  padding-bottom:20px;
}
.next:hover,
.next:focus,
.next:active{
  color:#ddd;
  text-decoration: none;
}
.logo{
  width: 100%;
}
.footer{
  width:100%;
}
